@import './reset.css';

:root {
  --black: #393939;
  --white: #ffffff;
  --blue-light: #f3f6fd;
  --blue-medium: #b8b8ff;
  --blue: #5051f9;
  --yellow: #F2EFDD;
  --yellow-rich: #EABA4C;
  --yellow-important: #FFEBB8;
}

* {
  color: var(--black);
  font-size: 18px;
  font-weight: 400;
  font-family: 'Comfortaa', sans-serif;
}

